In [5]:
import pandas as pd

In [10]:
dataset = pd.read_csv(r'C:\Users\visha\Desktop\dc_airbnb.csv')

In [11]:
print(dataset.shape)

(3723, 19)

In [14]:
#first 10 rows in the csv 
dataset.head(10)

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD
5,100%,100%,1,4,Entire home/apt,2.0,1.0,4.0,$99.00,NaN,NaN,1,1125,0,38.862486,-77.015062,Washington,20024,DC
6,100%,NaN,1,4,Entire home/apt,2.0,2.0,2.0,$100.00,$50.00,$150.00,3,1125,0,38.974738,-77.027076,Washington,20012,DC
7,100%,NaN,1,2,Entire home/apt,1.0,1.0,1.0,$100.00,NaN,NaN,1,1125,0,38.941486,-76.968485,Mount Rainier,20712,MD
8,94%,99%,8,2,Private room,1.0,1.5,1.0,$38.00,NaN,NaN,2,180,1,38.880105,-76.919031,Capitol Heights,20743,MD
9,100%,100%,9,2,Private room,1.0,NaN,1.0,$71.00,$10.00,NaN,2,365,4,38.975592,-77.010713,Takoma Park,20912,MD

In [15]:
import numpy as np

In [16]:
import numpy as np
our_acc_value = 3

In [17]:
first_living_space_value = dataset.loc[0,'accommodates']

In [18]:
first_distance = np.abs(first_living_space_value - our_acc_value) #diff between the first acc and our acc 
print(first_distance)

1

In [19]:
#complete acc and there are 461 with diff 0 which we are looking out for 

dataset['distance'] = np.abs(dataset.accommodates - our_acc_value) 
dataset.distance.value_counts().sort_index()

0      461
1     2294
2      503
3      279
4       35
5       73
6       17
7       22
8        7
9       12
10       2
11       4
12       6
13       8
Name: distance, dtype: int64

In [27]:
dc_listings = dataset.sample(frac=1,random_state=2)
dc_listings = dc_listings.sort_values('distance')
dc_listings.price.head()

3349    $105.00
2282     $93.00
2674    $900.00
131     $215.00
3510    $160.00
Name: price, dtype: object

In [28]:
dc_listings['price'] = dc_listings.price.str.replace("\$|,",'').astype(float)
mean_price = dc_listings.price.iloc[:5].mean()
mean_price

294.6

In [29]:
dc_listings.drop('distance',axis=1)
train_df = dc_listings.copy().iloc[:2792]
test_df = dc_listings.copy().iloc[2792:]

In [30]:
def predict_price(new_listing_value,feature_column):
    temp_df = train_df
    temp_df['distance'] = np.abs(dc_listings[feature_column] - new_listing_value)
    temp_df = temp_df.sort_values('distance')
    knn_5 = temp_df.price.iloc[:5]
    predicted_price = knn_5.mean()
    return(predicted_price)

In [31]:
test_df['predicted_price'] = test_df.accommodates.apply(predict_price,feature_column='accommodates')

In [32]:

#root mean squared error
test_df['squared_error'] = (test_df['predicted_price'] - test_df['price'])**(2)
mse = test_df['squared_error'].mean()
rmse = mse ** (1/2)
rmse

224.7104062109846

In [33]:
test_df['predicted_price']

3397     70.2
2158     70.2
192      70.2
834     178.4
1505     70.2
        ...
1596    178.4
1594    178.4
611     178.4
1402    178.4
763     178.4
Name: predicted_price, Length: 931, dtype: float64

In [34]:
from sklearn.metrics import confusion_matrix

In [37]:
predict_price(100,'accommodates')

178.4